In [1]:
from chembl_webresource_client.new_client import new_client
import pandas as pd

In [2]:
chembl_path = "../data/chembl24.tsv"
chembl = pd.read_csv(chembl_path,sep = '\t',names=["WLN","CHEMBL_ID"])
chembl

                                                    WLN      CHEMBL_ID
0                                                 G2U1G   CHEMBL155926
1                                           VH1U2U2U2U3   CHEMBL503982
2                                             7U12U2UU1   CHEMBL500758
3                                               QSWMSWQ  CHEMBL1207990
4     Q2O2O2O2O2O2O2O2O2O2O2O2O2O2O2O2O2O2O2O2O2O2O2...   CHEMBL503858
...                                                 ...            ...
2930                                             Z2UU1E  CHEMBL3934737
2931                                              Z2U1G  CHEMBL3974691
2932                                             ZMV1S1  CHEMBL3972862
2933                                          Z2UU2UU2Z  CHEMBL3959255
2934                                              Z3UU2  CHEMBL3982678

[2935 rows x 2 columns]

In [3]:
def get_chembl_canonical_smiles(chembl_id):
    try:
        molecule = new_client.molecule
        m1 = molecule.filter(chembl_id=f"{chembl_id}").only(['molecule_structures'])
        return m1[0]['molecule_structures']['canonical_smiles']
    except:
        return "NULL"

In [4]:
chembl_smiles = []

for Index, row in chembl.iterrows():
    can_smiles = get_chembl_canonical_smiles(row['CHEMBL_ID'])
    chembl_smiles.append(can_smiles)

In [5]:
chembl['can_smiles'] = chembl_smiles

In [6]:
chembl

,WLN,CHEMBL_ID,can_smiles
0,G2U1G,CHEMBL155926,Cl/C=C/CCl
1,VH1U2U2U2U3,CHEMBL503982,CC/C=C/C=C/C=C/C=C/C=O
2,7U12U2UU1,CHEMBL500758,C#C/C=C/CCCCCCCCCC/C=C\CCCCCC
3,QSWMSWQ,CHEMBL1207990,O=S(=O)(O)NS(=O)(=O)O
4,Q2O2O2O2O2O2O2O2O2O2O2O2O2O2O2O2O2O2O2O2O2O2O2...,CHEMBL503858,CCCCCCCCCCCCOCCOCCOCCOCCOCCOCCOCCOCCOCCOCCOCCO...
...,...,...,...
2930,Z2UU1E,CHEMBL3934737,NCC#CBr
2931,Z2U1G,CHEMBL3974691,NC/C=C/Cl
2932,ZMV1S1,CHEMBL3972862,CSCC(=O)NN
2933,Z2UU2UU2Z,CHEMBL3959255,NCC#CC#CCN
2934,Z3UU2,CHEMBL3982678,CC#CCCN